[Desktop Entry]
Type=Application
Name=kvmshare
GenericName=KVM sharer
Comment=Share keyboard, mouse and clipboard across machines
Exec=kvmshare-gui
Terminal=false
Categories=Utility;Network;
Keywords=KVM;Synergy;Barrier;Deskflow;mouse;keyboard;share;