[Desktop Entry]
Type=Application
Name=kvmshare
GenericName=KVM sharer
Comment=Share one keyboard and mouse across your machines
Exec=kvmshare-gui
Terminal=false
Categories=Utility;Network;
Keywords=KVM;Synergy;Barrier;Deskflow;mouse;keyboard;share;
Icon=kvmshare
